/* Basic Selectors */
h1 {
    color: yellow;
}

#title {
    color: blue;
}

.title {
    color: red;
}

.title2 {
    color: purple;
    font-weight: bolder;
}

/* Multiply styles */

.title, .title2 {
font-size: 12em;
}

/* Bad */

.element1 {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border-color: black;
    background-color: pink;
}
.element2 {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border-color: black;
    background-color: greenyellow;
}

/* good */

.general-element {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border-color: black;
}

.element1 {
    background-color: pink;
}

.element2 {
    background-color: greenyellow;
}

/* display flex  */

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-1 {
    background-color: chocolate;
}
.content-2 {
    background-color: crimson;
    margin: 5px;
}
.content-3 {
    background-color: cornflowerblue;
}

/*
1. cambia el color del enunciado a un color de tu gusto
2. crea un elemento con dimensiones de 50x50 y cambia el color de fondo a tu gusto
3. cambia el tamaño (width & heigth) de los siguientes elementos
4. crea un contenedor con 3 elementos y cambia su dirección a horizontal (flex-direction)
5. centra el texto horizontal y verticalmente (justify-align)
6. separa los elementos (margin)
7. cambia el tipo de fuente del texto y su tamaño (font_family-font_size)
8. separa el contenido del borde (padding)
*/
